[AUTHOR]
# NEVER CHANGE this information in future updates! It is used to identify
# the plugin and handle updates.
NAME=Alexa-NG Plugin Authors
EMAIL=alexang@users.noreply.github.com

[PLUGIN]
# Alexa NG - Loxone und andere Plugins lassen Echo-Geraete sprechen,
# ankuendigen, die Lautstaerke setzen und freigegebene Routinen starten.
#
# Diese Zeile nennt die Fassung, die in DIESEM Ordner liegt.
VERSION=0.9.4
NAME=alexang
FOLDER=alexang

TITLE=Alexa NG

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Alexa-NG/main/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Alexa-NG/main/prerelease.cfg

[SYSTEM]
INTERFACE=2.0
REBOOT=false
LB_MINIMUM=3.0.0
LB_MAXIMUM=false
ARCHITECTURE=false
# Das Plugin schreibt eine eigene Protokolldatei mit Kappung und liest keine
# Protokollstufe; der Waehler entfaellt deshalb (Regeln/03).
CUSTOM_LOGLEVELS=false
